<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="cards">
    <p><%= @answer %></p>
    <p>-You-</p>
  </div>
  <div class="cards texto">
    <% if @answer == "I am going to work"%>
      <%= "Great!"%>
    <% elsif @answer.include?("?") %>
      <%= "Silly question, get dressed and go to work!." %>
    <% else %>
      <%= "I don't care, get dressed and go to work!" %>
    <% end %>
    <p>-Your Coach-</p>
  </div>
  <div class="btn btn-dark link">
    <%= link_to "Volver a preguntar", ask_path%>
  </div>
</div>
